body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
    width: 100%;
  background: url(../img/6.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  height: 70vh;
  background-size: 100% 100%;


}

.PRUEBA {
  width: 320px;
  height: 420px;
  background: #000000 ;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  opacity:0.7;
}

.PRUEBA .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.PRUEBA h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.PRUEBA label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.PRUEBA input {
  width: 100%;
  margin-bottom: 20px;
}

.PRUEBA input[type="text"], .PRUEBA input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.PRUEBA input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.PRUEBA input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.PRUEBA a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.PRUEBA a:hover {
  color: #fff;
}